<%= form_for @game, html: { multipart: true } do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Title %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :Description %><br>
    <%= f.text_area :descrição %>
  </div>
  <div class="field">
    <%= f.label :Length %><br>
    <%= f.text_field :duração %>
  </div>
  <div class="field">
    <%= f.label :Publisher %><br>
    <%= f.text_field :produtora %>
  </div>
  <div class="field">
    <%= f.label :Rating %><br>
    <%= f.text_field :avaliação %>
  </div>
  <div class="field">
  <%= f.label :image %><br>
  <%= f.file_field :image %>
</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
