<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>Your Favorite Games Reviewed</h1>
    <p><%= link_to "Sign Up To Write A Review", new_user_registration_path, class: "btn btn-primary btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @games.each do |game| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag game.image.url(:medium), class: 'image'), game %>
      </div>
    </div>
  <% end %>
</div>