<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <%= image_tag @game.image.url(:medium) %>
        <div class="star-rating" data-score= <%= @avg_review %> ></div>
          <em><%= "#{@reviews.length} reviews" %></em>
        <div class="table-responsive">
          <table class="table">
            <tbody>
              <tr>
                <td><strong>Title:</strong></td>
                <td><%= @game.nome %></td>
              </tr>
              <tr>
                <td><strong>Description:</strong></td>
                <td><%= @game.descrição %></td>
              </tr>
              <tr>
                <td><strong>Game length:</strong></td>
                <td><%= @game.duração %></td>
              </tr>
              <tr>
                <td><strong>Publisher:</strong></td>
                <td><%= @game.produtora %></td>
              </tr>
              <tr>
                <td><strong>Rating:</strong></td>
                <td><%= @game.avaliação %></td>
              </tr>
           </tbody>
          </table>
          <%= link_to "write a Review", new_game_review_path(@game), class: "btn btn-danger" %>
        </div>
      </div>
      <div class="col-md-7 col-md-offset-1">
        <h1 class="review title"><%= @game.nome %></h1>
        <p><%= @game.descrição %></p>

        <% if @reviews.blank? %>
          <h3>No reviews just yet, would you like to add the first?</h3>
          <%= link_to "write review", new_game_review_path(@game), class: "btn btn-danger"%>
        <% else %>
          <% @reviews.each do |review| %>
            <div class="reviews">
              <div class="star-rating" data-score= <%= review.rating %> ></div>
              <p><%= review.user.email.split('@')[0] %><%= ": " %><%=review.comment %></p> 
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<%if user_signed_in? %>
  <% if current_user.admin %>
    <%= link_to 'Edit', edit_game_path(@game), class: "btn btn-default" %> |
    <%= link_to 'Destroy', @game, method: :delete, data: {confirm: 'Are you sure? This game is gonna be deleted!'}, class: "btn btn-default" %> |
    <%= link_to 'Back', games_path, class: "btn btn-default" %>
  <% else %>
    <%= link_to 'Back', games_path, class: "btn btn-default" %>
  <% end %>
<% else %>
  <%= link_to 'Back', games_path, class: "btn btn-default" %>
<% end %>

<script>
  $('.star-rating').raty({
    path: '/assets/',
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    }
  });
</script>